h1{
    text-align: center;
}
table{
    border-collapse: collapse;
}
table td,table th{
    text-align: center;
}
table td.url{
    width: 15%;
}
table td.url p{
    width: 300px;
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}
table td.title{
    width: 5%;
}
table td.summary{
    width: 80%;
    text-align: left;
}